---
layout: default
---

<div class="home">

  <h1 class="page-heading">C++11 Articles</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      {% for cat in post.categories %}
        {% if cat == 'C++11' %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>

  <h1 class="page-heading">Boost Articles</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      {% for cat in post.categories %}
        {% if cat == 'boost' %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>

  <h1 class="page-heading">All Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
